.App {
  text-align: center;
  
}
.colorIcon{
  color:orangered;
}
.menuBar{
  height:100%;
}
.list{
  background-color:#0f010f;
  height: 100%;
  box-shadow: 2px 2px 2px grey;
 
}
.AppBar{
  background-color: #580a5f;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.title{
  font-Weight: 'bold';
   font-Family: "Arial Black", 'Gadget', 'sans-serif';
   font-size:30px;
   
}
.link {
  color:#fdfcfb;
  text-decoration:none;
}
.link:hover {
   color:#bd5fcf;
   text-decoration:none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
color:white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
